.header {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-light {
	background-color: mediumseagreen;
}

.header-dark {
	background-color: teal;
}

.logo {
	font-size: 1.5rem;
}

.navigate a {
	margin: 0 0 0 1rem;
}