.main {
	flex-grow: 1;
	padding: 1rem 0;
}

.wrapper.light .main {
	background-color: var(--main-light);
	color: var(--main-dark);
}

.wrapper.dark .main {
	background-color: var(--main-dark);
	color: var(--main-light);
}