.info-slider {
	--swiper-navigation-color: #fff;
	--swiper-pagination-color: #fff;
	padding: 0 0 2.5rem 0;
	border: 1px dashed var(--info-light-text);
	margin-bottom: 2rem;
	position: relative;
}

.wrapper.dark .info-slider {
	border-color: var(--info-dark-text);
}

.info-slider.full-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #000;
	overflow: hidden;
	border: none;
	margin: 0;
}