.swiper-slide {
	height: auto;
}

.info-slide {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.info-slide-title {
	padding: 0.5rem;
	border: 1px dashed var(--info-light-text);
	margin-top: 1rem;
}

.wrapper.dark .info-slide-title {
	border-color: var(--info-dark-text);
}

.info-slide.full-screen .info-slide-title {
	color: var(--info-dark-text);
	border-color: var(--info-dark-text);
}

.info-slide-controls {
	align-self: stretch;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info-slide-fullscreen-btn {
	font-size: 2rem;
	color: var(--info-light-text);
	cursor: pointer;
}

.wrapper.dark .info-slide-fullscreen-btn {
	color: var(--info-dark-text);
}

.info-slide-goback {
	font-size: 2rem;
	color: var(--info-dark-text);
	cursor: pointer;
}

.info-slide-share-icon {
	font-size: 2rem;
	color: var(--info-light-text);
}

.wrapper.dark .info-slide-share-icon {
	color: var(--info-dark-text);
}

.info-slide-share-icon.full-screen {
	color: var(--info-dark-text);
}

.info-slide.full-screen .info-slide-goback,
.info-slide.full-screen .info-slide-share-link {
	margin: 0.3rem;
}

.react-transform-wrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.transform-component-module_wrapper__SPB86 {
	height: 100%;
}

.transform-component-module_content__FBWxo {
	flex-grow: 1;
}

.info-slide-img {
	flex-grow: 1;
	display: flex;
}

.info-slide-img img {
	margin: auto;
}